/* 카테고리 슬라이더 수치조정 */
.categories__slider.owl-carousel .owl-stage-outer {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 70px;
    border-bottom: 1px solid rgba(240, 135, 50, 0.5);
  }
  
  /* 카테고리 필터링 버튼생성 */
  button{
    background-color: rgba( 255, 255, 255, 0 );
    border-color: #f08632;
    border-top: #f08632;
    border-bottom: #f08632;
    border-left: #f08632;
    border-right: #f08632;
  }
  
  /* 메뉴 사이즈 조정 */
  .product__item__pic {
    width: auto;
    background-position: center;
    position: relative;
    object-fit: none;
    border: 3px solid rgb(130, 130, 90);
    border-radius: 10px;
  }

 
  /* 얘네는 원본에서 지운 애들임 */
  .breadcrumb__text h2 {
    font-size: 50px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
  } 

  /* 버튼태그 와이드 늘려주기 */
  .product__details__option .pro-qty {
    height: 50px;
    width: 150px;
    border: 1px solid #e1e1e1;
    padding: 0 20px;
    background-color: #ffffff;
  }

  /* 패딩 바텀 늘림 */
  .product-details {
    padding-top: 90px;
    padding-bottom: 60px;

  }

  /* 메뉴 뿌려주는 판 패딩작업 */
  .menuspad{
    padding-top: 3px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .font_color{  
    color: #000000;
    
  }